#formContainer {
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formBox label {
  color: var(--FORMBOX-LABEL-TEXT-COLOR);

  font-size: 16px;
  font-weight: bold;

  line-height: 22px;
}

.formBox input,
.formBox select {
  height: 37px;

  border: none;
  border-radius: 10px;
}

.formInputText {
  color: var(--FORMBOX-INPUT-TEXT-COLOR);

  padding-left: 10px;

  font-size: 14px;
  font-weight: 300;
}

.formBox input::placeholder {
  color: var(--FORMBOX-INPUT-PLACEHOLDER-TEXT-COLOR);
}
