#indexPageContainer {
  height: 100vh;

  flex-direction: column;
}

.logoSection {
  align-items: flex-end;
}

.logoSection,
.headerTitleSection {
  display: flex;
  flex-grow: 1;
}

.navigationButtonsAndRegisterFormSection {
  background-color: #5fc3e1;
  max-height: 500px;

  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin: 0px 10px 0px 10px;
  padding: 30px 10px 10px 10px;
  border-radius: 20px 20px 0px 0px;
}
