#LoginNavbar {
  gap: 15px;
  justify-content: space-between;
}

.SignInButton {
  background-color: #5fc3e1;
}

.SignInButton a {
  color: #fff;
}

.SignInButton:hover {
  background-color: #4893a9;
}

.RegisterButton {
  background-color: #fff;
}

.RegisterButton a {
  color: #5fc3e1;
}

.RegisterButton:hover {
  background-color: #e0e0e0;
}
