#LoginNavbar {
  gap: 15px;
  justify-content: space-between;
}

.SignInButton {
  background-color: var(--SIGN-IN-BUTTON-BACKGROUND-COLOR);
}

.SignInButton a {
  color: var(--SIGN-IN-BUTTON-TEXT-COLOR);
}

.SignInButton:hover {
  background-color: var(--SIGN-IN-BUTTON-HOVER-COLOR);
}

.RegisterButton {
  background-color: var(--REGISTER-BUTTON-BACKGROUND-COLOR);
}

.RegisterButton a {
  color: var(--REGISTER-BUTTON-TEXT-COLOR);
}

.RegisterButton:hover {
  background-color: var(--REGISTER-BUTTON-HOVER-COLOR);
}
