.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadows {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.standardButton {
  cursor: pointer;

  background-color: var(--STANDARD-BUTTON-BACKGROUND-COLOR);

  width: 150px;
  height: 42px;

  border: none;
  border-radius: 20px;
}

.standardButtonText {
  text-decoration: none;
  text-align: center;

  color: var(--STANDARD-BUTTON-TEXT-COLOR);

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.standardButton:hover {
  background-color: var(--STANDARD-BUTTON-HOVER-COLOR);
}
