:root {
  /* Fonts */
  --roboto: "Roboto", sans-serif;

  /* Colors */
  --aqua: #80d0c7;
  --light-grey: #ececec;
  --grey: #808080;
  --HEADER-TEXT-COLOR: #5fc3e1;

  /* Standard form colors */
  --FORMBOX-LABEL-TEXT-COLOR: #fff;
  --FORMBOX-INPUT-TEXT-COLOR: #000;
  --FORMBOX-INPUT-PLACEHOLDER-TEXT-COLOR: #d9d9d9;

  /* Pages */
  --INTERACTION-SECTION-BACKGROUND-COLOR: #5fc3e1;

  /* LoginNavbar */
  --SIGN-IN-BUTTON-BACKGROUND-COLOR: #5fc3e1;
  --SIGN-IN-BUTTON-TEXT-COLOR: #fff;
  --SIGN-IN-BUTTON-HOVER-COLOR: #4893a9;

  --REGISTER-BUTTON-BACKGROUND-COLOR: #fff;
  --REGISTER-BUTTON-TEXT-COLOR: #5fc3e1;
  --REGISTER-BUTTON-HOVER-COLOR: #e0e0e0;

  /* Utils */
  --STANDARD-BUTTON-BACKGROUND-COLOR: #fff;
  --STANDARD-BUTTON-TEXT-COLOR: #5fc3e1;
  --STANDARD-BUTTON-HOVER-COLOR: #e0e0e0;

  /* Font Size */
}
