<!DOCTYPE html>
<html>
  <%- include("./partials/Head") %>
  <body>
    <div id="indexPageContainer" class="centered">
      <div class="logoSection centered">
        <%- include("./partials/AppLogo") %>
      </div>

      <div class="headerTitleSection centered">
        <%- include("./partials/Header", {title: 'BIENVENIDO'}) %>
      </div>

      <div class="interactionSection">
        <%- include("./partials/LoginNavbar") %>

        <form id="registerFormContainer">
          <div class="registerFormBox">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              id="userName"
              class="registerFormInputText shadows"
              name="nombre"
              placeholder="Ingrese su nombre completo"
              required
            />
          </div>

          <div class="registerFormBox">
            <label for="cargo">Cargo</label>
            <select id="cargo" name="cargo" required>
              <option disabled selected>Seleccione el cargo</option>
              <option value="empleado">Empleado</option>
              <option value="administrador">Administrador</option>
            </select>
          </div>

          <div class="registerFormBox">
            <label for="celular">Celular</label>
            <input
              type="tel"
              id="userPhone"
              class="registerFormInputText shadows"
              name="celular"
              pattern="[0-9]+"
              placeholder="Ingrese su número de celular"
              required
            />
          </div>

          <div class="registerFormBox">
            <label for="contrasena">Contraseña</label>
            <input
              type="password"
              id="userPassword"
              class="registerFormInputText shadows"
              name="password"
              placeholder="Ingrese su contraseña"
              required
            />
          </div>

          <div class="centered">
            <button
              class="standardButton registerUserButton shadows"
              type="submit"
            >
              <a class="standardButtonText"> Registrarme</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
