<!DOCTYPE html>
<html>
  <%- include("./partials/Head") %>
  <body>
    <div id="opcPrincipalesContainer" class="centered">
      <div class="logoSection centered">
        <%- include("./partials/AppLogo") %>
      </div>

      <div class="opcPrincipalesSection centered">
        <div class="opcPrincipalesItem">Precios</div>
        <div class="opcPrincipalesItem">Pedidos</div>
        <div class="opcPrincipalesItem">Bordados</div>
        <div class="opcPrincipalesItem">Alquiler</div>
        <div class="opcPrincipalesItem">Reportes</div>
        <div class="opcPrincipalesItem">Buscador</div>
      </div>
    </div>
  </body>
</html>
