<!DOCTYPE html>
<html>
  <%- include("./partials/Head", {title: 'Opciones princiales'}) %>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <body>
    <div id="opcPrincipalesContainer" class="centered">
      <div class="logoSection centered">
        <%- include("./partials/AppLogo") %>
      </div>

      <div class="userSection centered shadows">
        <p class="userNameSection">Bienvenido <%= name %></p>
        <div class="centered">
          <form action="/logout" method="post">
            <button class="standardButton shadows">
              <a class="standardButtonText"> Cerrar sesión</a>
            </button>
          </form>
        </div>
      </div>

      <div class="opcPrincipalesSection centered">
        <div class="opcPrincipalesItem centered shadows">
          <i class="fas fa-dollar-sign"></i>
          <p class="opcPrincipalesItemText">Precios</p>
        </div>
        <div class="opcPrincipalesItem centered shadows">
          <i class="fas fa-shopping-cart"></i>
          <p class="opcPrincipalesItemText">Pedidos</p>
        </div>
        <div class="opcPrincipalesItem centered shadows">
          <i class="fas fa-paint-brush"></i>
          <p class="opcPrincipalesItemText">Bordados</p>
        </div>
        <div class="opcPrincipalesItem centered shadows">
          <i class="fas fa-store"></i>
          <p class="opcPrincipalesItemText">Alquiler</p>
        </div>
        <div class="opcPrincipalesItem centered shadows">
          <i class="fas fa-chart-line"></i>
          <p class="opcPrincipalesItemText">Reportes</p>
        </div>
        <div class="opcPrincipalesItem centered shadows">
          <i class="fas fa-search"></i>
          <p class="opcPrincipalesItemText">Buscador</p>
        </div>
      </div>
    </div>
  </body>
</html>
