<header>
  <div class="appHeader centered">
    <div id="appLogo" class="centered">
      <img
        src="\images\assets\logods.svg"
        alt="Dayana Sport Logo"
        style="width: 250px"
      />
    </div>
    <h1 id="headerTitle"><%= title %></h1>
  </div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header>
