<header>
  <picture>
    <img src="\images\assets\logods.svg" alt="inicio" style="width: 250px" />
  </picture>
  <h1 id="AppHeader"><%= title %></h1>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header>
