<header>
  <div id="AppLogo" class="centered">
    <img
      src="\images\assets\logods.svg"
      alt="Dayana Sport Logo"
      style="width: 250px"
    />
  </div>
  <h1 id="AppHeader"><%= title %></h1>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</header>
