<div id="LoginNavbar" class="centered">
  <button class="standardButton SignInButton shadows">
    <a class="standardButtonText" href="/login"> Inicio de Sesión </a>
  </button>
  <button class="standardButton RegisterButton shadows">
    <a class="standardButtonText" href="/signin"> Registrarme </a>
  </button>
</div>
