<div id="LoginNavbar" class="centered">
  <button id="LoginNavbarButton" class="SignInButton">
    <a id="LoginNavbarbarButtonText" href="/login"> Inicio de Sesión </a>
  </button>
  <button id="LoginNavbarButton" class="RegisterButton">
    <a id="LoginNavbarbarButtonText" href="/"> Registrarme </a>
  </button>
</div>
